<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Order</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Customer Order </h1>
		</div>
	</div>

    <div class="row">
        <div class="col-md-6">
            <form action="#" class="form-horizontal"
                  th:action="@{/order/processAll}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Process">
					</span>
                    <label>Max Fix Rate  </label><input type="text" th:name="customOrder.maxFitRate" th:value="*{customOrder.maxFitRate}"/>
                    <div class="container">
                        <p>
                        <h3>Base Board Info</h3>
                        </p>
                    </div>
                    <table class="table-bordered">
                        <thead>
                        <tr>
                            <th> ID </th>
                            <th> Area </th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr th:if="${form.baseBoards.empty}">
                            <td colspan="2"> No baseboard Available </td>
                        </tr>
                        <tr th:each="baseBoard : ${form.baseBoards}">
                            <td><span th:text="${baseBoard.id}"> ID </span></td>
                            <td><span th:text="${baseBoard.area}"> Area </span></td>
                        </tr>-->

                        <tr th:each="baseBoard, itemStat : *{customOrder.baseBoards}">
                            <!--<td><input hidden th:name="|form.baseBoards[${itemStat.index}].id|" th:value="${baseBoard.getId()}"/></td>-->
                            <td><input th:placeholder="ID + ' ' + ${itemStat.count}" th:name="|customOrder.baseBoards[${itemStat.index}].id|"
                                       th:value="${baseBoard.getId()}"  required/></td>
                            <td><input th:placeholder="Area + ' ' + ${itemStat.count}" th:name="|customOrder.baseBoards[${itemStat.index}].area|" th:value="${baseBoard.getArea()}"
                                       required/></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="container">
                        <p>
                        <h3>Pcb Board Info</h3>
                        </p>
                    </div>
                    <table class="table-bordered">
                        <thead>
                        <tr>
                            <th> ID </th>
                            <th> Area </th>
                            <th> Count </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${form.customOrder.pcbBoards.empty}">
                            <td colspan="3"> No pcbBoards Available </td>
                        </tr>
                        <!--<tr th:each="pcbBoard : ${form.pcbBoards}">
                            <td><span th:text="${pcbBoard.id}"> ID </span></td>
                            <td><span th:text="${pcbBoard.area}"> Area </span></td>
                            <td><span th:text="${pcbBoard.count}"> Count </span></td>
                        </tr>-->
                        <tr th:each="pcbBoard, itemStat : *{customOrder.pcbBoards}">
                            <!--<td><input hidden th:name="|form.baseBoards[${itemStat.index}].id|" th:value="${baseBoard.getId()}"/></td>-->
                            <td><input th:placeholder="ID + ' ' + ${itemStat.count}" th:name="|customOrder.pcbBoards[${itemStat.index}].id|" th:value="${pcbBoard.getId()}"
                                       required/></td>
                            <td><input th:placeholder="Area + ' ' + ${itemStat.count}" th:name="|customOrder.pcbBoards[${itemStat.index}].area|"
                                       th:value="${pcbBoard.getArea()}" required/></td>
                            <td><input th:placeholder="Count + ' ' + ${itemStat.count}" th:name="|customOrder.pcbBoards[${itemStat.index}].count|"
                                       th:value="${pcbBoard.getCount()}" required/></td>
                        </tr>

                        </tbody>
                    </table>

                    <div class="container">
                        <p>
                        <h3>Suggested Layout </h3>
                        </p>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Count </th>
                            <th> Base BoardId  </th>
                            <th> usagePercent </th>
                            <th> Layout </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${form.workOrders.empty}">
                            <td colspan="2"> No workorders Available </td>
                        </tr>
                        <tr th:each="workorder, itemStat : *{workOrders}">
                            <td>
                                <input th:name="|workOrders[${itemStat.index}].dups|" th:value="${workorder.dups}"/>
                            </td>
                            <td>
                                <input readonly="true" th:placeholder="BaseBoardId + ' ' + ${itemStat.count}" th:name="|workOrders[${itemStat.index}].patern.baseBoardId|" th:value="${workorder.patern.baseBoardId}"/>
                            </td>

                            <td>
                                <input readonly="true" th:placeholder="UsagePercent + ' ' + ${itemStat.count}" th:name="|workOrders[${itemStat.index}].usagePercent|" th:value="${workorder.usagePercent}"/>
                            </td>
                            <td>
                                <input hidden="true" th:placeholder="BaseBoardId + ' ' + ${itemStat.count}" th:name="|workOrders[${itemStat.index}].patern.pcbsStr|" th:value="${workorder.patern.pcbsStr}"/>
                            </td>
                            <td>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th:block th:each="fill, itemStat2: ${workorder.patern.pcbs}">
                                            <td th:colspan th:text="${fill.pcbId}" th:name="|workorder.patern.pcbs[${itemStat2.index}].pcbId|">

                                            </td>
                                        </th:block>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <th:block th:each="fill, itemStat1 : ${workorder.patern.pcbs}">
                                            <!--<td></td><input th:colspan th:name="|workorder.patern.pcbs[${itemStat1.index}].count|" th:value="${fill.count}"/><td>-->
                                            <td th:colspan th:text="${fill.count}"  th:name="|workorder.patern.pcbs[${itemStat1.index}].count|" >

                                            </td>
                                            <!--<th th:colspan th:text="${fill.count}">Dataset Field</th>-->
                                        </th:block>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <a class="btn btn-info" href="#" th:href="@{/order/notfound}"> DeepNest </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </fieldset>
            </form>
        </div>

    </div>

</div>
</body>
</html>
