<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Order</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Suggested Work Orders </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<th> Count </th>
						<th> Base BoardId  </th>
                        <th> usagePercent </th>
                        <th> Layout </th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${workOrderDto.orders.empty}">
						<td colspan="2"> No workorders Available </td>
					</tr>
					<tr th:each="workorder : ${workOrderDto.orders}">
						<td><span th:text="${workorder.dups}"> Count </span></td>
						<td><span th:text="${workorder.patern.baseBoardId}"> baseBoardId </span></td>
                        <!--<td> th:with="deet=(${workorder.usagePercent})">
                            <span th:text="${#numbers.formatDecimal(deet, 1, 'COMMA', 2, 'POINT')}"> usagePercent </span></td>
                        <td>-->
                        <td>
                            <span th:text="${workorder.usagePercent}"> usagePercent </span></td>
                        <td>
                            <table class="table">
                                <!--<thead>
                                    <tr>
                                        <th> Layer1 </th>
                                        <th> Layer12 </th>
                                        <th> Layer13 </th>
                                    </tr>
                                </thead>-->
                                <thead>
                                <tr>
                                    <th:block th:each="fill : ${workorder.patern.pcbs}">
                                        <!--<th th:colspan="${workorder.patern.pcbs.size}" th:text="${fill.pcbId}">Header Field</th>-->
                                        <th th:colspan th:text="${fill.pcbId}">Header Field</th>
                                    </th:block>
                                </tr>
                                </thead>
                                <tbody>
                                <!--<tr th:each="fill : ${workorder.patern.pcbs}">
                                    <th:block th:each="field : ${fill.count}">
                                        <td th:colspan th:text="${field}">Dataset Field</td>
                                    </th:block>
                                </tr>-->

                                <tr>
                                    <th:block th:each="fill : ${workorder.patern.pcbs}">
                                        <!--<th th:colspan="${workorder.patern.pcbs.size}" th:text="${fill.pcbId}">Header Field</th>-->
                                        <th th:colspan th:text="${fill.count}">Dataset Field</th>
                                    </th:block>
                                </tr>
                                </tbody>
                            </table>
                        </td>
					</tr>

				</tbody>
			</table>
		</div>

	</div>
    <div class="container">
        <a class="btn btn-info" href="#" th:href="@{/order/all}"> ReLoad Order </a>
    </div>
</div>
</body>
</html>
